<!DOCTYPE html>
<html >
	<head>
	<meta charset="UTF=8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Salon Home </title>
	<link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
	</head>
<body>
	<h1>Salon Earnings Tracker </h1>

	<form id="entryForm">
		<label for="worker">Worker Name. </label>
		<input type="text" id="worker" name="worker" required/>

		<label for="service">Service </label>
		<input type="text" id="service" name="service"/>

		<label for="amount"> Amount Charged ($)</label>
		<input type"number" id="amount" name="amount" required>

		<button id="submit"type="submit"> Add Entry </button>
	</form>
	<div id="results">
		<strong> Name: </strong>
		<strong>Total Earnings:</strong> $<span id="total">0 </span>
		<ul id"enterisList"></ul>
	</div>

	


<script src={{url_for('static',filename='home.js')}}></script>
</body>
</html>
